<div class="buttons">
    <div class="right">
        <button id="sslczPayBtn" class="btn btn-primary"
            token="{{ tran_id}}"
            postdata=""
            order="{{ tran_id}}"
            endpoint="{{process_url}}">{{button_confirm}}
        </button>
    </div>
</div>
{% if api_type == "YES" %}
    <script type="text/javascript">
    (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src="https://sandbox.sslcommerz.com/embed.min.js?" + Math.random().toString(36).substring(7);
        s1.charset='UTF-8';
        s0.parentNode.insertBefore(s1,s0);
    })();
</script>
{% elseif api_type == "NO" %}
    <script type="text/javascript">
        (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src="https://seamless-epay.sslcommerz.com/embed.min.js?" + Math.random().toString(36).substring(7);
            s1.charset='UTF-8';
            s0.parentNode.insertBefore(s1,s0);
        })();
    </script>
{% endif %}
